<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>

<body>
    <h1>N-chan</h1>

    <h2>New</h2>
    <form action='/new' method='post'>
        <input name='content'></input>
        <button>Post</button>
    </form>




    <h2>All Posts</h2>

    {% for post in posts %}
        <b>
            {{loop.index}}: {{post['user_id']}}
        </b>

        <blockquote>
            {{post['content']}}
        </blockquote>
        <br />
        {% if post['user_id'] == user_id %}
            <form action='/delete' method='post'>
                <input name='content' type="hidden" value="{{loop.index -1}}" ></input>
                <button>Delete</button>
            </form>
        {% endif %}
    {% endfor %}

</body>